<div class="card-group d-flex flex-column">
  <div class="text-white bg-dark mt-5 p-4">
    <div class="card-header mb-5">
      <h2>{{ pageTitle }}</h2>
    </div>

    <div class="card-body">
      <form novalidate (ngSubmit)="saveRoom()" [formGroup]="roomForm">
        <div class="form-group row mb-4">
          <label class="col-sm-3 col-form-label" for="roomNumberId"
            >Room number</label
          >
          <div class="col-sm-7">
            <input
              class="form-control"
              id="roomNumberId"
              type="text"
              placeholder="Room number (required)"
              formControlName="roomNumber"
            />
            <div *ngFor="let validation of validationMessages.roomNumber">
              <div
                class="error-message"
                *ngIf="
                  roomForm.get('roomNumber')?.hasError(validation.type) &&
                  (roomForm.get('roomNumber')?.dirty ||
                    roomForm.get('roomNumber')?.touched)
                "
              >
                <div class="invalid-feedback d-block">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-3 col-form-label" for="departmentId"
            >Department</label
          >
          <div class="col-sm-7">
            <select
              (change)="changeDepartment($event)"
              class="form-select form-select-sm"
            >
              <option *ngIf="room.id == 0">Pick a department</option>
              <option
                *ngFor="let department of departments"
                [value]="department.id"
              >
                {{ department.name }}
              </option>
            </select>
          </div>
          <div *ngFor="let validation of validationMessages.departmentId">
            <div
              class="error-message"
              *ngIf="
                roomForm.get('departmentId')?.hasError(validation.type) &&
                (roomForm.get('departmentId')?.dirty ||
                  roomForm.get('departmentId')?.touched)
              "
            >
              <div class="invalid-feedback d-block">
                {{ validation.message }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mt-5">
          <div class="d-flex justify-content-around">
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              [title]="
                roomForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
            >
              Save
            </button>

            <button
              class="btn btn-outline-secondary btn-lg"
              type="button"
              title="Cancel your edits"
              [routerLink]="['/rooms']"
            >
              Cancel
            </button>

            <button
              *ngIf="room.id != 0"
              class="btn btn-outline-warning btn-lg"
              type="button"
              title="Delete this room"
              (click)="alertConfirmation()"
            >
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
