<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="savePatient()" [formGroup]="patientForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="patientFirstNameId"
          >First name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="patientFirstNameId"
            type="text"
            placeholder="First name (required)"
            formControlName="firstName"
          />
          <div *ngFor="let validation of validationMessages.firstName">
            <div
              class="error-message"
              *ngIf="
                patientForm.get('firstName')?.hasError(validation.type) &&
                (patientForm.get('firstName')?.dirty ||
                  patientForm.get('firstName')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="patientlastNameId"
          >Last name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="patientlastNameId"
            type="text"
            placeholder="Last name (required)"
            formControlName="lastName"
          />
          <div *ngFor="let validation of validationMessages.lastName">
            <div
              class="error-message"
              *ngIf="
                patientForm.get('lastName')?.hasError(validation.type) &&
                (patientForm.get('lastName')?.dirty ||
                  patientForm.get('lastName')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="insuranceNumberId"
          >Insurance number</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="insuranceNumberId"
            placeholder="Insurance number"
            formControlName="insuranceNumber"
          />
          <div *ngFor="let validation of validationMessages.insuranceNumber">
            <div
              class="error-message"
              *ngIf="
                patientForm.get('insuranceNumber')?.hasError(validation.type) &&
                (patientForm.get('insuranceNumber')?.dirty ||
                  patientForm.get('insuranceNumber')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phoneNumberId"
          >Phone number</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="phoneNumberId"
            placeholder="Phone number"
            formControlName="phoneNumber"
          />
          <div *ngFor="let validation of validationMessages.phoneNumber">
            <div
              class="error-message"
              *ngIf="
                patientForm.get('phoneNumber')?.hasError(validation.type) &&
                (patientForm.get('phoneNumber')?.dirty ||
                  patientForm.get('phoneNumber')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="emailAddressId"
          >Email address</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="emailAddressId"
            placeholder="Email address (required)"
            formControlName="emailAddress"
            [ngClass]="{ 'is-invalid': displayMessage.emailAddress }"
          />
          <div *ngFor="let validation of validationMessages.emailAddress">
            <div
              class="error-message"
              *ngIf="
                patientForm.get('emailAddress')?.hasError(validation.type) &&
                (patientForm.get('emailAddress')?.dirty ||
                  patientForm.get('emailAddress')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="gender">Gender</label>
        <div class="col-md-8">
          <select class="form-select form-select-sm">
            <option *ngIf="patient.gender == 0" selected="selected">
              {{ "Male" }}
            </option>
            <option *ngIf="patient.gender == 1" selected="selected">
              {{ "Female" }}
            </option>
            <option *ngIf="patient.id == 0">Pick a gender</option>
            <option
              *ngFor="let gender of genders"
              [value]="gender.value"
              (change)="onSelected(gender.value)"
            >
              {{ gender.viewValue }}
            </option>
          </select>
        </div>
        <div *ngFor="let validation of validationMessages.gender">
          <div
            class="error-message"
            *ngIf="
              patientForm.get('gender')?.hasError(validation.type) &&
              (patientForm.get('gender')?.dirty ||
                patientForm.get('gender')?.touched)
            "
          >
            {{ validation.message }}
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            Launch demo modal
          </button>

          <button
            class="btn btn-outline-secondary mr-3"
            style="width: 80px"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/patients']"
          >
            Cancel
          </button>
          <button
            *ngIf="patient.id != 0"
            class="btn btn-outline-warning"
            style="width: 80px"
            type="button"
            title="Delete this patient"
            (click)="deletePatient()"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>