<div class="card-group d-flex flex-column">
  <div class="card text-white bg-dark mt-5">
    <div class="card-header text-center">
      {{ pageTitle }}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center"></div>

        <div class="text-center">
          This project was designed and developed by:
        </div>
        <div class="text-center">
          <h3>Mateusz Szreder</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark mt-5">
    <div class="card-header text-center">
      {{ pageTitle }}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center"></div>

        <div class="text-center">
          Main reason for it to exists was to build something that i would enjoy
          creating. The second reason was that i could use it to my final exam.
        </div>
      </div>
    </div>
  </div>
</div>
