<div class="card-group d-flex flex-column">
  <div class="text-white bg-dark mt-5 p-4">
    <div class="card-header d-flex justify-content-between">
      <h2>{{ pageTitle }}</h2>
      <button
        class="btn btn-outline-primary btn-lg"
        [routerLink]="['/departments', '0', 'edit']"
      >
        New
      </button>
    </div>

    <div class="card-body">
      <div class="row mt-2 mb-2">
        <div class="col-4">
          Filter by:
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div>

      <table
        class="table table-striped table-dark"
        *ngIf="departments && departments.length"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of filteredDepartments">
            <td class="white-td">
              <a [routerLink]="['/departments', department.id]">
                {{ department.id }}
              </a>
            </td>
            <td class="white-td">{{ department.name }}</td>
            <td class="white-td">{{ department.description }}</td>
            <td class="">
              <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="['/departments', department.id, 'edit']"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="errorMessage" class="alert alert-danger">
        Error: {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
