<div class="card">
  <div class="card-header d-flex justify-content-between">
    {{ pageTitle }}
    <button
      class="btn btn-outline-primary btn-sm"
      [routerLink]="['/patients', '0', 'edit']"
    >
      New
    </button>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        Filter by:
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="patients && patients.length">
        <thead>
          <tr>
            <!--
            <th>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="toggleImage()"
              >
                {{ showImage ? "Hide" : "Show" }} Image
              </button>
            </th>
            -->
            <th>Name</th>
            <th>Gender</th>
            <th>InsuranceNumber</th>
            <th>EmailAddress</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of filteredPatients">
            <!--
            <td>
              <img
                *ngIf="showImage && patient.imageUrl"
                [src]="patient.imageUrl"
                [title]="patient.patientName"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
              />
            </td>
            -->
            <td>
              <a [routerLink]="['/patients', patient.id]">
                {{ patient.firstName }}
                {{ patient.lastName }}
              </a>
            </td>
            <td *ngIf="patient.gender == 0">{{ "Male" }}</td>
            <td *ngIf="patient.gender == 1">{{ "Female" }}</td>
            <td>{{ patient.insuranceNumber }}</td>
            <td>{{ patient.emailAddress }}</td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="['/patients', patient.id, 'edit']"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
