<div class="card-group d-flex flex-column">
  <div class="text-white bg-dark mt-5 p-4">
    <div class="card-header d-flex justify-content-between">
      <h2>{{ pageTitle }}</h2>
      <button
        class="btn btn-outline-primary btn-lg"
        [routerLink]="['/stuffMembers', '0', 'edit']"
      >
        New
      </button>
    </div>

    <div class="card-body">
      <div class="row mt-2 mb-2">
        <div class="col-4">
          Filter by:
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div>

      <table
        class="table table-striped table-dark"
        *ngIf="stuffMembers && stuffMembers.length"
      >
        <thead>
          <tr>
            <!--
              <th>
                <button
                  class="btn btn-outline-primary btn-sm"
                  (click)="toggleImage()"
                >
                  {{ showImage ? "Hide" : "Show" }} Image
                </button>
              </th>
              -->
            <th>Name</th>
            <th>Type Of Stuff Member</th>
            <th>Department</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stuffMember of filteredStuffMembers">
            <!--
              <td>
                <img
                  *ngIf="showImage && stuffMember.imageUrl"
                  [src]="stuffMember.imageUrl"
                  [title]="stuffMember.stuffMemberName"
                  [style.width.px]="imageWidth"
                  [style.margin.px]="imageMargin"
                />
              </td>
              -->
            <td>
              <a [routerLink]="['/stuffMembers', stuffMember.id]">
                {{ stuffMember.firstName + " " + stuffMember.lastName }}
              </a>
            </td>
            <td>{{ stuffMember.typeOfStuffMemberName }}</td>
            <td>{{ stuffMember.departmentName }}</td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="['/stuffMembers', stuffMember.id, 'edit']"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>
</div>
